<%- include('partials/header') %>

<%- include('partials/sidebar', { page: 'activity_feed' }) %>

<div id="body">
    <header id="header">
        <h1 id="page-title" class="left">Activity Feed</h1>
    </header>
    <div class="body-content post-list js-post-list" id="activity-feed">
        <div class="no-content-window content-loading-window">
            <div class="window">
                <p>Loading activity feed...</p>
            </div>
        </div>
        <div class="no-content-window content-load-error-window none">
            <div class="window">
                <p>The activity feed could not be loaded. Check your Internet connection, wait a moment, and then try reloading.</p>
                <div class="window-bottom-buttons single-button">
                    <a href="/" class="button" data-pjax="#body" data-pjax-replace="1">Reload</a>
                </div>
            </div>
        </div>
    </div>
</div>