<body><h1>You are banned LMAO.</h1></body>
<script>
    wiiuErrorViewer.openByCodeAndMessage(1000000, 'You are banned from Friiverse. \n \n LMAO ASS.');
    wiiuBrowser.closeApplication();
</script>