<%- include('partials/header') %>

<div id="body">
    <header id="header">
        <h1 id="page-title" class="left">Friiverse</h1>
    </header>
    <div class="window">
        <p>404</p>
    </div>
</div>