<body><h1>You are banned LMAO.</h1></body>
<script>
    wiiuErrorViewer.openByCodeAndMessage(1000000, 'You are banned from Friiverse. \n \n If you have questions, visit the discord server for help.');
    wiiuBrowser.closeApplication();
</script>