<%- include('partials/header') %>

<%- include('partials/sidebar', { page: 'userpage' }) %>

<div id="body">
    <header id="header">
        <h1 id="page-title" class="left">Activity Feed</h1>
    </header>

    <div class="body-content" id="my-menu">
        <div>
            <a href="#" data-pjax="#body" id="my-menu-miiverse-config" class="scroll big-button">Subscribe</a>
	        <a href="#" data-pjax="#body" id="my-menu-blocklist" class="scroll big-button">Go to my own page</a>
        </div>
    </div>
</div>